{% extends "base.html" %}

{% block title %}bips.dev - BIP Index{% endblock title %}

{% block content %}
    <a href="/"><img src="/bips-dev-header.png" width="750" height="200" /></a>

    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <h3 class="title is-3 mt-2">BIPs by {{ term.name }}</h3>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a href="/authors">Back to Authors</a>
            </div>
        </div>
    </div>
    <hr />

    <ul class="list-all-bips">
        {% for page in term.pages | sort(attribute="extra.bip") %}
            <li class="list-bip">
                <span>{{ page.extra.bip }}</span> <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
