{% extends "base.html" %}

{% block title %}bips.dev - BIP Index{% endblock title %}

{% block content %}
    <a href="/"><img src="/bips-dev-header.png" width="750" height="200" /></a>

    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <h3 class="title is-3 mt-2">BIPs by {% block taxonomyName %} {% endblock %}</h3>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a href="/">Back to BIPs</a>
            </div>
        </div>
    </div>
    <hr />

    {% for term in terms %}
      <h4 class="title is-4"><a href="/{{ taxonomy.name }}/{{ term.slug }}">{{ term.name }}</a></h4>
      <ul class="list-all-bips">
      {% for page in term.pages | sort(attribute="extra.bip") %}
            <li class="list-bip">
                <span>{{ page.extra.bip }}</span> <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </li>
      {% endfor %}
      </ul>
    {% endfor %}
{% endblock content %}
