{% extends "base.html" %}

{% block title %}bips.dev - BIP {{ page.extra.bip }}{% endblock title %}

{% block content %}
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <a href="/"><img src="{{ resize_image(path="../static/bips-dev-header.png", width=300, op="fit_width") }}" /></a>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a href="/">Back to BIPs</a>
            </div>
        </div>
    </div>

    <h1 class="title">
      BIP {{ page.extra.bip }}: {{ page.title }}
    </h1>
    <p class="subtitle"><strong>{{ page.date }}</strong></p>

    <div class="content">
      {{ page.content | safe }}
    </div>
{% endblock content %}
