{% extends "base.html" %}

{% block title %}bips.dev - BIP {{ page.extra.bip }}{% endblock title %}

{% block content %}
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <a href="/"><img src="{{ resize_image(path="../static/bips-dev-header.png", width=300, op="fit_width") }}" /></a>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a href="/">Back to BIPs</a>
            </div>
        </div>
    </div>

    <p class="is-size-3 has-text-weight-bold mb-0">
      BIP {{ page.extra.bip }}: {{ page.title }}
    </p>
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <p class="subtitle"><strong>{{ page.date }}</strong></p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a href="{{ page.extra.github }}">View on GitHub</a>
            </div>
            <div class="level-item">
                <img src="{{ resize_image(path="../static/github-logo.png", width=24, op="fit_width") }}"/>
            </div>
        </div>
    </div>

    <div class="content">
      {{ page.content | safe }}
    </div>
{% endblock content %}
