{% extends "base.html" %}

{% block title %}bips.dev{% endblock title %}

{% block content %}
    <img src="bips-dev-header.png" width="750" height="200" />
    <div id="what-is-a-bip" class="box">
        {{ section.content | safe }}
    </div>

    <div class="columns is-vcentered">
        <div class="column is-one-third">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h5 class="title is-5 mr-2">View BIPs by</h5>
                        <a href="/authors" class="button is-warning is-light mr-2">Authors</a>
                        <a href="/status" class="button is-warning is-light">Status</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <form id="form-search" autocomplete="off" action="/search" method="GET">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input name="q" id="search" class="input" type="text" placeholder="Search BIPs" />
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-warning">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <ul class="list-all-bips">
        {% for page in section.pages %}
        <li class="list-bip">
            <span>{{ page.extra.bip }}</span> <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
