{% extends "base.html" %}

{% block title %}bips.dev - search{% endblock title %}

{% block content %}
    <a href="/"><img src="/bips-dev-header.png" width="750" height="200" /></a>

    <div class="columns is-vcentered mt-2">
        <div class="column">
            <form id="form-search" autocomplete="off" action="/search" method="GET">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input name="q" id="search" class="input" type="text" placeholder="Search BIPs" />
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-warning">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="search-results mb-5">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h5 class="title is-5">Search Results</h5>
                </div>
            </div>
            <div class="level-left">
                <div class="level-item">
                    <a href="/">Back to BIPs</a>
                </div>
            </div>
        </div>
        <ul class="search-results__items">
        </ul>
    </div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="/search_index.en.js"></script>
<script type="text/javascript" src="/elasticlunr.min.js"></script>
<script type="text/javascript" src="/search.js"></script>
{% endblock scripts %}
