@charset "utf-8";

$color-border: #B5B5B5;
$color-bitcoin: #FF9900;
$warning: $color-bitcoin; // override
$container-max-width: 980px; // override

@import "../node_modules/bulma/bulma.sass";

#what-is-a-bip {
    border: 1px solid $color-border;
    margin-top: 10px;

    .bold {
        font-weight: bold;
    }
}

.list-all-bips {
    margin-bottom: 20px;

    li span {
        display: inline-block;
        text-align: right;
        width: 40px;
    }
}

.list-bip {
    font-family: monospace;

    &:hover {
        color: $color-bitcoin;
    }
}
