.container {
    max-width: 900px;
}

#what-is-a-bip {
    border: 1px solid #b5b5b5;

    .bold {
        font-weight: bold;
    }
}

.list-all-bips li span {
    display: inline-block;
    text-align: right;
    width: 40px;
}

.list-bip {
    font-family: monospace;

    &:hover {
        color: #f2a900;
    }
}
